QPushButton#btn_close {
    border-image: url(":/Images/clo.png");
}

QPushButton#btn_close:hover {
    border-image: url(":/Images/clo_on.png");
}

QTextEdit{
    border: none;
}

QWidget#info_bar {
    border-style:solid;
	border-width:1px;
	border-color:rgb(187, 187, 187);
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(242, 242, 242), stop:1 rgb(221, 221, 221));
}

QWidget#combination {
    border-style:solid;
	border-width:1px;
	border-color:rgb(187, 187, 187);
    background-color: white;
}